<section>
  
    <%= section_header('Update Profile') %>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

      <div class="form-category">
        <%= render "devise/shared/error_messages", resource: resource %>
      </div>

      <div class="form-category">

        <div class="form-field">
          <%= f.email_field :email, class: "form-input text" %>
          <p class="form-label">Email</p>
        </div>

        <div class="form-field">
          <%= f.text_field :username, autofocus: true, class: "form-input text"%>
          <p class="form-label">Username</p>
        </div>

        <div class="form-field">
          <%= f.text_field :credits, class: "form-input integer" %>
          <p class="form-label">Credits</p>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-field">
          <%= f.password_field :password, class: "form-input text" %>
          <p class="form-label">New Password</p>
        </div>

        <div class="form-field">
          <%= f.password_field :password_confirmation, class: "form-input text" %>
          <p class="form-label">Confirm Password</p>
        </div>

        <div class="form-field">
          <%= f.password_field :current_password, class: "form-input text" %>
          <p class="form-label">Current Password</p>
        </div>

      </div>

      <div class="form-category">
        <%= f.submit "Submit", class: "button form-button success" %>
      </div>

      <%= link_to destroy_user_session_path, method: :delete do %>
        <div class="button danger"><%= translate("Log Out") %></div>
      <% end %>
      
    <% end %>

    

</section>