<div class="page-container">

    <article class="screen screen-lg green character-weapon-screen">

        <%= form_for [@char, @char_weapon] do |f| %>

            <%= translate("New Weapon for #{@char.name}", "translate-lg translate-center") %>

            <div class="form-category">

                <%= f.hidden_field :character_id, value: @char.id %>

                <%= f.hidden_field :weapon_id, value: @weapon.id %>

                <div class="form-field">
                    <p class="form-label">Weapon ::</p>
                    <p class="form-input"><%= @weapon.name %></p>
                </div>

            <% if @weapon.brands %>
                <div class="form-field">
                    <p class="form-label">Brand ::</p>
                    <%= f.select(:brand, get_brands(@weapon), {prompt: ''}, {class: "form-input select"}) %>
                </div>
            <% end %>

                <div class="form-field">
                    <p class="form-label">Quantity ::</p>
                    <%= f.text_field :quantity, class: "form-input integer" %>
                </div>

            </div>
            
            <div class="form-category">
                <%= f.submit "Submit", class: "button form-button" %>
            </div>

        <% end %>

        <%= link_to [@char, @char_weapon], method: :delete, data: {confirm: "Are you sure you wish to delete this character weapon? This cannot be undone." }, class: "danger-link" do %>
            <%= translate("Delete Weapon", "translate-sm translate-center button danger-button") %>
        <% end %>

    </article>

</div>
