<section class="form-section">

        <%= form_for [@char, @char_weapon] do |f| %>

            <%= translate("New Weapon for #{@char.name}", "translate-lg translate-center") %>

            <div class="form-category">

                <%= f.hidden_field :character_id, value: @char.id %>

                <%= f.hidden_field :weapon_id, value: @weapon.id %>

                <div class="form-field">
                    <p class="form-input"><%= @weapon.name %></p>
                    <p class="form-label">Weapon</p>
                </div>

                <% if @weapon.brands %>
                    <div class="form-field">
                        <%= f.select(:brand, get_brands(@weapon), {prompt: ''}, {class: "form-input select"}) %>
                        <p class="form-label">Brand</p>
                    </div>
                <% end %>

                <div class="form-field">
                    <%= f.text_field :quantity, class: "form-input integer" %>
                    <p class="form-label">Quantity</p>
                </div>

            </div>
            
            <div class="form-category">
                <%= f.submit "Submit", class: "button form-button" %>
            </div>

        <% end %>

</section>