<section>
    
    <%= section_header("Menu") %>
    
    <div class="wrapper index-menu">

        <ul class="menu">

            <li class="link"><%= link_to "Home", root_path %></li>

            <li class="link"><%= link_to "#{@char.name}'s Armory", character_gear_path(@char) %></li>

            <li class="link"><%= link_to "Update Attachment", edit_character_character_weapon_path(@char, @char_weapon) %></li>


        </ul>

        <div class="sidebar">

            <% num = rand(6) %>
            <%= image_tag("results/#{num}.png") %>

        </div>
    
    </div>
    

</section>

<section>

    <%= section_header("Weapon Basics") %>

    <% if @weapon.restricted %>
        <p class="sw text danger">Restricted</p>
    <% end %>

    <div class="basics">

        <div class="dataset">
            <p class='data-title'>Name</p>
            <p class='data'><%= @weapon.name %></p>
        </div>

        <div class="dataset">
            <p class="data-title">Skill</p>
            <p class='data'><%= @weapon.skill %></p>
        </div>

        <div class="dataset">
            <p class="data-title">Rarity</p>
            <p class="integer data"><%= @weapon.rarity %></p>
        </div>

        <div class="dataset">
            <p class="data-title">Cost</p>
            <p class="integer data">$ <%= @weapon.cost %></p>
        </div>

    </div>

</section>

<section>

    <%= section_header("Weapon Details") %>

    <div class="attr">

        <div class="dataset">
            <p class="data-title">Damage</p>
            <p class="integer data"><%= @weapon.damage %></p>
        </div>

        <div class="general-data">
            <p class="data-title">Crit</p>
            <p class="integer data"><%= @weapon.crit < 999 ? @weapon.crit : "N/A" %></p>
        </div>

        <div class="dataset">
            <p class="data-title">Range</p>
            <p class="data"><%= @weapon.range.upcase %></p>
        </div>

    </div>

    <div class="attr">

        <div class="dataset">
            <p class="data-title">Encumbrance</p>
            <p class="integer data"><%= @weapon.encumbrance %></p>
        </div>

        <div class="dataset">
            <p class="data-title">Hard Points</p>
            <p class="integer data"><%= @weapon.hard_points %></p>
        </div>

    </div>

</section>

<section>

    <%= section_header("Specials") %>

    <div class="description">
        <div class="dataset">
            <p class="data"><%= parse_specials(@weapon) %></p>
        </div>
    </div>

</section>

<section>

    <%= section_header("Brand") %>

    <div class="description">
        <div class="dataset">
            <p class="data"><%= @char_weapon.brand %></p>
        </div>
    </div>

</section>