<section class="form-section">

    <%= section_header("Update #{@equipment.name} for #{@char.name}") %>

    <%= form_for [@char, @char_equipment] do |f| %>

        <div class="form-category">

            <%= f.hidden_field :character_id, value: @char.id %>

            <%= f.hidden_field :armor_id, value: @equipment.id %>

            <div class="form-field">
                <p class="form-input english"><%= @equipment.name %></p>
                <p class="form-label">Gear</p>
            </div>

            <% if @equipment.brands %>
                <div class="form-field">
                    <%= f.select(:brand, get_brands(@equipment), {prompt: ''}, {class: "form-input select"}) %>
                    <p class="form-label">Brand</p>
                </div>
            <% end %>

            <div class="form-field">
                <%= f.text_field :quantity, class: "form-input integer" %>
                <p class="form-label">Quantity</p>
            </div>

        </div>
        
        <div class="form-category">
            <%= f.submit "Submit", class: "button form-button" %>
        </div>

        <%= link_to [@char, @char_equipment], method: :delete do %>
            <div class="button danger sw">Delete Gear</div>
        <% end %>

    <% end %>

</section>