<section>
    
    <%= section_header("Menu") %>
    
    <div class="wrapper index-menu">

        <ul class="menu">

            <li class="link sw"><%= link_to "Home", root_path %></li>

            <li class="link sw"><%= link_to "#{@char.name}'s Armory", character_gear_path %></li>

            <li class="link sw"><%= link_to "Update Gear", edit_character_character_equipment_path(@char, @char_equipment) %></li>


        </ul>

        <div class="sidebar">

            <% num = rand(6) %>
            <%= image_tag("results/#{num}.png") %>

        </div>
    
    </div>
    

</section>

<section>

    <%= section_header("Armor Basics") %>

    <% if @equipment.restricted %>
        <p class="sw text danger">Restricted</p>
    <% end %>

    <div class="basics">

        <div class="dataset">
            <p class='data-title'>Name</p>
            <p class='sw data'><%= @equipment.name %></p>
        </div>

        <div class="dataset">
            <p class="data-title">Rarity</p>
            <p class="integer data"><%= @equipment.rarity %></p>
        </div>

        <div class="dataset">
            <p class="data-title">Cost</p>
            <p class="integer data">$ <%= @equipment.cost %></p>
        </div>

        <div class="dataset">
            <p class="data-title">Encumbrance</p>
            <p class="integer data"><%= @equipment.encumbrance %></p>
        </div>

    </div>

</section>

<section>

    <%= section_header("Gear Description") %>

    <div class="description">
        <div class="dataset">
            <p class="data"><%= @equipment.description %></p>
        </div>
    </div>

</section>

<section>

    <%= section_header("Gear Brand") %>

    <div class="description">
        <div class="dataset">
            <p class="data"><%= @char_equipment.brand %></p>
        </div>
    </div>

</section>