<section>

    <%= section_header("Armor Basics") %>

    <% if @equipment.restricted %>
        <p class="sw text danger">Restricted</p>
    <% end %>

    <div class="basics">

        <div class="dataset">
            <p class='data-title'>Name</p>
            <p class='data'><%= @equipment.name %></p>
        </div>

        <div class="dataset">
            <p class="data-title">Rarity</p>
            <p class="integer data"><%= @equipment.rarity %></p>
        </div>

        <div class="dataset">
            <p class="data-title">Cost</p>
            <p class="integer data">$ <%= @equipment.cost %></p>
        </div>

        <div class="dataset">
            <p class="data-title">Encumbrance</p>
            <p class="integer data"><%= @equipment.encumbrance %></p>
        </div>

    </div>

</section>

<section>

    <%= section_header("Gear Description") %>

    <div class="description">
        <div class="dataset">
            <p class="data"><%= @equipment.description %></p>
        </div>
    </div>

</section>

<section>

    <%= section_header("Gear Brand") %>

    <div class="description">
        <div class="dataset">
            <p class="data"><%= @char_equipment.brand %></p>
        </div>
    </div>

</section>