<div class="page-container">

    <article class="screen screen-lg green">

    <%= translate("Update Equipment", "translate-lg translate-center") %>

        <%= form_for @equipment do |f| %>

            <div class="form-category">

                <%= translate("General Info", "translate-center form-category-label") %>

                <div class="form-field">
                    <p class="form-label">Name ::</p>
                    <%= f.text_field :name, class: "form-input text", autofocus: true %>
                </div>

                <div class="form-field">
                    <p class="form-label">Restricted? ::</p>
                    <div class="form-input">
                        <%= f.check_box :restricted, class: "boolean" %>
                    </div>
                </div>

                <div class="form-field">
                    <p class="form-label">Encumbrance ::</p>
                    <%= f.text_field :encumbrance, class: "form-input integer" %>
                </div>

                <div class="form-field">
                    <p class="form-label">Cost ::</p>
                    <%= f.text_field :cost, class: "form-input integer" %>
                </div>

                <div class="form-field">
                    <p class="form-label">Rarity ::</p>
                    <%= f.text_field :rarity, class: "form-input integer" %>
                </div>

                <div class="form-field form-field-long">
                    <p class="form-label">Description ::</p>
                    <%= f.text_area :description, class: "form-input long-text" %>
                </div>

            </div>

            <div class="form-category">
                <%= f.submit "Submit", class: "button form-button" %>
            </div>
    
        <% end %>
    </article>
</div>


