<section class="form-section">

    <%= section_header("New Attachment for #{@char.name}") %>

    <%= form_for [@char, @char_mod] do |f| %>

        <div class="form-category">

            <%= f.hidden_field :character_id, value: @char.id %>

            <%= f.hidden_field :modification_id, value: @mod.id %>

            <div class="form-field">
                <p class="form-input english"><%= @mod.name %></p>
                <p class="form-label">Attachment</p>
            </div>

            <% if @mod.brands %>
                <div class="form-field">
                    <%= f.select(:brand, get_brands(@mod), {prompt: ''}, {class: "form-input select"}) %>
                    <p class="form-label">Brand</p>
                </div>
            <% end %>

            <div class="form-field">
                <%= f.text_field :quantity, class: "form-input integer" %>
                <p class="form-label">Quantity</p>
            </div>

        </div>
        
        <div class="form-category">
            <%= f.submit "Submit", class: "button form-button success" %>
        </div>

        <%= link_to [@char, @char_mod], method: :delete do %>
            <div class="button danger sw">Delete Attachment</div>
        <% end %>

    <% end %>

</section>