<div class="page-container">

    <article class="screen screen-lg green">

    <%= translate("New Attachment for #{@char.name}", "translate-lg translate-center") %>

        <%= form_for [@char, @char_mod] do |f| %>

            <div class="form-category">

                <%= f.hidden_field :character_id, value: @char.id %>

                <%= f.hidden_field :modification_id, value: @mod.id %>

                <div class="form-field">
                    <p class="form-label">Attachment ::</p>
                    <p class="form-input"><%= @mod.name %></p>
                </div>

                <% if @mod.brands %>
                    <div class="form-field">
                        <p class="form-label">Brand ::</p>
                        <%= f.select(:brand, get_brands(@mod), {prompt: ''}, {class: "form-input select"}) %>
                    </div>
                <% end %>

                <div class="form-field">
                    <p class="form-label">Quantity ::</p>
                    <%= f.text_field :quantity, class: "form-input integer" %>
                </div>

            </div>
            
            <div class="form-category">
                <%= f.submit "Submit", class: "button form-button" %>
            </div>

        <% end %>

    </article>

</div>