<section class='form-section'>

    <%= section_header("New Skill for #{@char.name}") %>

    <%= form_for [@char, @skill] do |f| %>

            <div class="form-category">

                <%= f.hidden_field :character_id, value: @char.id %>

                <div class="form-field">
                    <%= f.select(:name, ['Astrogation', 'Athletics', 'Brawl', 'Charm', 'Coercion', 'Computers', 'Cool', 'Coordination', 'Core Worlds', 'Deception', 'Discipline', 'Education', 'Gunnery', 'Leadership', 'Lore', 'Mechanics', 'Medicine', 'Melee', 'Negotiation', 'Outer Rim', 'Perception', 'Piloting (Planetary)', 'Piloting (Space)', 'Ranged (Light)', 'Ranged (Heavy)', 'Resilience', 'Skulduggery', 'Stealth', 'Streetwise', 'Survival', 'Underworld', 'Vigilance', 'Xenology'], {prompt: ''}, {class: "form-input select", id: 'skill'}) %>
                    <p class="form-label">Skill</p>
                </div>

                <div class="form-field">
                    <%= f.select(:attr, ['Agility', 'Brawn', 'Cunning', 'Intellect', 'Presence', 'Willpower'], {prompt: ''}, {class: "form-input select", id: 'attribute'}) %>
                    <p class="form-label">Attribute</p>
                </div>

                <div class="form-field">
                    <%= f.select(:category, ['General', 'Combat', 'Knowledge'], {prompt: ''}, {class: "form-input select", id: 'category'}) %>
                    <p class="form-label">Category</p>
                </div>

                <div class="form-field">
                    <%= f.text_field :level, class: "form-input integer" %>
                    <p class="form-label">Level</p>
                </div>

                <div class="form-field">
                    <div class="checkbox">
                    <%= f.check_box :career,  class: "boolean"%>
                    <p class="form-label">Career</p>
                    </div>
                </div>


            </div>
            
            <div class="form-category">
                <%= f.submit "Submit", class: "button form-button success" %>
            </div>

            <%= link_to [@char, @skill], method: :delete do %>
                <div class="button danger sw">Delete Skill</div>
            <% end %>

        <% end %>

</section>