<section>

    <%= render 'layouts/menu.html.erb' %>

</section>

<section>

    <%= section_header("Planets") %>

    <div class="planets">

        <div class="planet-list">

            <% letter = "" %>

            <% @planets.each do |planet| %>

                <% if planet.name[0] != letter %>

                    <% letter = planet.name[0] %>
                    <p class="sw segmentor"><%= letter %></p>

                <% end %>

                <p class="char-name"><%= link_to planet.name, planet_path(planet) %></p>

            <% end %>

        </div>

        <div class="planet-new">

            <%= link_to new_planet_path do %>
                <div class="button success">+</div>
            <% end %>

        </div>

    </div>

</section>