<section>

    <%= section_header("Profile") %>

    <div class="basics">

        <div class="dataset">
            <p class='data-title'>Name</p>
            <p class='data'><%= @planet.name %></p>
        </div>

        <div class="dataset">
            <p class="data-title">System</p>
            <p class="data"><%= @planet.system %></p>
        </div>

        <div class="dataset">
            <p class="data-title">Sector</p>
            <p class="data"><%= @planet.sector%></p>
        </div>

        <div class="dataset">
            <p class="data-title">Region</p>
            <p class="data"><%= @planet.region%></p>
        </div>

    </div>

</section>

<section>

    <%= section_header("Data") %>

    <div class="basics">

        <div class="dataset">
            <p class='data-title'>Year Length</p>
            <p class='data'><span class="integer"><%= @planet.year %></span> Days</p>
        </div>

        <div class="dataset">
            <p class="data-title">Rotation</p>
            <p class="data"><span class="integer"><%= @planet.day %></span> Hours</p>
        </div>

        <div class="dataset">
            <p class="data-title">Population</p>
            <p class="data"><%= @planet.population && @planet.population != '' ? number_to_human(@planet.population).upcase : "Unknown" %></p>
        </div>

    </div>

</section>

<section>

    <%= section_header("Major Locations") %>

</section>

<section>

    <%= section_header("Notations") %>

</section>