<section>
    
    <%= section_header("Menu") %>
    
    <div class="wrapper index-menu">

        <ul class="menu">

            <li class="link"><%= link_to "Home", root_path %></li>

            <li class="link"><%= link_to "New Armor", new_armor_path %></li>

            <li class="link"><%= link_to "New Attachment", new_modification_path %></li>

            <li class="link"><%= link_to "New Gear", new_equipment_path %></li>

            <li class="link"><%= link_to "New Weapon", new_weapon_path %></li>

        </ul>

        <div class="sidebar">

            <% num = rand(6) %>
            <%= image_tag("results/#{num}.png") %>

        </div>
    
    </div>
    

</section>


<section>

    <%= section_header("Armor") %>

    <div class='armory-list'>
        <% @armor.each do |armor| %>
            <%= link_to armor_path(armor) do %>
                <p class="gear-item"><%= armor.name %></p>
            <% end %>
        <% end %>
    </div>

</section>

<section>

    <%= section_header("Attachments") %>

    <div class='armory-list'>
        <% @mods.each do |mod| %>
            <%= link_to modification_path(mod) do %>
                <p class="gear-item"><%= mod.name %></p>
            <% end %>
        <% end %>
    </div>

</section>

<section>

    <%= section_header("Gear") %>

    <div class='armory-list'>
        <% @gear.each do |gear| %>
            <%= link_to equipment_path(gear) do %>
                <p class="gear-item"><%= gear.name %></p>
            <% end %>
        <% end %>
    </div>

</section>

<section>

    <%= section_header("Weapons") %>
            
    <div class='armory-list'>
        <% @weapons.each do |weapon| %>
            <%= link_to weapon_path(weapon) do %>
                <p class="gear-item"><%= weapon.name %></p>
            <% end %>
        <% end %>
    </div>

</section>