<section>

    <%= section_header("Armor") %>

    <div class='armory-list'>
        <% @armor.each do |armor| %>
            <%= link_to armor_path(armor) do %>
                <p class="gear-item"><%= armor.name %></p>
            <% end %>
        <% end %>
    </div>

</section>

<section>

    <%= section_header("Attachments") %>

    <div class='armory-list'>
        <% @mods.each do |mod| %>
            <%= link_to modification_path(mod) do %>
                <p class="gear-item"><%= mod.name %></p>
            <% end %>
        <% end %>
    </div>

</section>

<section>

    <%= section_header("Gear") %>

    <div class='armory-list'>
        <% @gear.each do |gear| %>
            <%= link_to equipment_path(gear) do %>
                <p class="gear-item"><%= gear.name %></p>
            <% end %>
        <% end %>
    </div>

</section>

<section>

    <%= section_header("Weapons") %>
            
    <div class='armory-list'>
        <% @weapons.each do |weapon| %>
            <%= link_to weapon_path(weapon) do %>
                <p class="gear-item"><%= weapon.name %></p>
            <% end %>
        <% end %>
    </div>

</section>