<section class="index-header">

    <p class="integer user-credits">$ <%= number_with_delimiter(@user.credits, delimiter: ',') %></p>

    <p class=" user">
        <%= link_to @user.username, edit_user_registration_path(@user) %>
        <% if @user.character_id && @user.character_id != '' %>
            (<%= link_to @user.character.name, character_path(@user.character) %>)
        <% end %>
    </p>

</section>

<% if @user.character %>

    <section>
    
        <%= section_header("Quick Stats") %>

        <div class="attributes">

            <div class="attribute" id="brawn">
                <p>Brawn</p>
                <p class='integer'><%= @user.character.brawn %></p>
            </div>

            <div class="attribute" id="agility">
                <p>Agility</p>
                <p class='integer'><%= @user.character.agility %></p>
            </div>

            <div class="attribute" id="intellect">
                <p>Intellect</p>
                <p class='integer'><%= @user.character.intellect %></p>
            </div>

            <div class="attribute" id="cunning">
                <p>Cunning</p>
                <p class='integer'><%= @user.character.cunning %></p>
            </div>

            <div class="attribute" id="willpower">
                <p>Willpower</p>
                <p class='integer'><%= @user.character.willpower %></p>
            </div>

            <div class="attribute" id="presence">
                <p>Presence</p>
                <p class='integer'><%= @user.character.presence %></p>
            </div>

        </div>

            <div class="skills-list">

                <div class="skills skills-general">

                    <% @user.character.skills.each do |skill| %>

                        <% if skill.level > 0 && skill.category == "General" %>

                            <div class="skill <%= skill.attr.downcase %>">
                                <p class="name"><%= link_to skill.name, edit_character_skill_path(@user.character, skill) %></p>
                                <%= display_level(skill.level, true) %>
                            </div>

                        <% end %>

                    <% end %>

                </div>

                <div class="skills skills-other">

                    <% @user.character.skills.each do |skill| %>

                        <% if skill.level > 0 && skill.category != "General" %>

                            <div class="skill <%= skill.attr.downcase %>">
                                <p class="name"><%= link_to skill.name, edit_character_skill_path(@user.character, skill) %></p>
                                <%= display_level(skill.level, true) %>
                            </div>

                        <% end %>

                    <% end %>
                    
                </div>

            </div>

    </section>

<% end %>