<div class="page-container index-container">
    <div class="screen screen-sm">
        <%= translate("Planets", "translate-left") %>
    </div>
    <div class="screen screen-sm">
        <%= translate("Characters", "translate-left") %>
    </div>
    <div class="screen screen-sm">
        <%= translate("Ships", "translate-left") %>
    </div>
    <div class="screen screen-sm">
        <%= translate("Equipment", "translate-left") %>
    </div>
    <div class="screen screen-sm">
        <%= translate("Contacts", "translate-left") %>
    </div>
    <div class="screen screen-sm">
        <%= translate("Gameplay", "translate-left") %>
    </div>
    
</div>