<section class="index-header">

    <p class="integer user-credits">$<%= number_with_delimiter(@user.credits, delimiter: ',') %></p>

    <p class="sw user"><%= link_to @user.username, edit_user_registration_path(@user) %></p>

</section>

<section>

    <%= render 'layouts/menu.html.erb' %>

</section>

<section class="stats">

    <%= section_header("Statistics") %>

    <table class="stats-table">
        <thead>
            <tr>
                <th></th>
                <th class='sw'>Aleni</th>
                <th class='sw'>Krachtig</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class='sw'>Kills</th>
                <td class='integer'>12</td>
                <td class='integer'>21</td>
            </tr>
            <tr>
                <th class='sw'>Assists</th>
                <td class='integer'>2</td>
                <td class='integer'>3</td>
            </tr>
            <tr>
                <th class='sw'>Damage</th>
                <td class='integer'>107</td>
                <td class='integer'>168</td>
            </tr>
            <tr>
                <th class='sw'>Crits</th>
                <td class='integer'>2</td>
                <td class='integer'>6</td>
            </tr>
            <tr>
                <th class='sw'>Wounds</th>
                <td class='integer'>7</td>
                <td class='integer'>18</td>
            </tr>
        </tbody>
    </table>

</section>

<section>

    <%= section_header("Quick Reference") %>

    <div class="skills-list">
        <div class="skills skills-general">
            <div class="category general">
                <p class='sw category-title'>General</p>
                <% @character.skills.each do |skill| %>

                        <% if skill.category == "General" && skill.level > 0 %>
                            <div class="skill">
                                <p class="name"><%= skill.name %></p>
                                <%= display_level(skill.level) %>
                            </div>
                        <% end %>

                <% end %>
            </div>
        </div>

        <div class="skills skills-other">
            <div class="category combat">
                <p class='sw category-title'>Combat</p>
                <% @character.skills.each do |skill| %>

                        <% if skill.category == "Combat" && skill.level > 0 %>
                            <div class="skill">
                                <p class="name"><%= skill.name %></p>
                                <%= display_level(skill.level) %>
                            </div>
                        <% end %>

                <% end %>
            </div>
            <div class="category knowledge">
                <p class='sw category-title'>Knowledge</p>
                <% @character.skills.each do |skill| %>

                        <% if skill.category == "Knowledge" && skill.level > 0 %>
                            <div class="skill">
                                <p class="name"><%= skill.name %></p>
                                <%= display_level(skill.level) %>
                            </div>
                        <% end %>

                <% end %>
            </div>
        </div>
    </div>

    

</section>