<section class="index-header">

    <p class="integer user-credits">$ <%= number_with_delimiter(@user.credits, delimiter: ',') %></p>

    <p class=" user"><%= link_to @user.username, edit_user_registration_path(@user) %></p>

</section>

<div class='large-links'>

    <%= link_to edit_user_registration_path(@user) do %>
        <div class='link'>
            <i class="fas fa-address-card"></i>
        </div>
    <% end %>

    <%= link_to characters_path do %>
        <div class='link'>
            <i class="fas fa-users"></i>
        </div>
    <% end %>

    <%= link_to vehicles_path do %>
        <div class='link'>
            <i class="fas fa-fighter-jet"></i>
        </div>
    <% end %>

    <%= link_to planets_path do %>
        <div class='link'>
            <i class="fas fa-globe"></i>
        </div>
    <% end %>

    <%= link_to gear_path do %>
        <div class='link'>
            <i class="fas fa-campground"></i>
        </div>
    <% end %>

    <%= link_to contacts_path do %>
        <div class='link'>
            <i class="fas fa-people-arrows"></i>
        </div>
    <% end%>

    <%= link_to store_path do %>
        <div class='link'>
            <i class="fas fa-cash-register"></i>
        </div>
    <% end %>

    <%= link_to stats_path do %>
        <div class='link'>
            <i class="fas fa-chart-bar"></i>
        </div>
    <% end %>

    <%= link_to dice_path do %>
        <div class='link'>
            <i class="fas fa-dice"></i>
        </div>
    <% end %>

</div>