<section>

    <%= section_header("Armor") %>

    <% @armor.each do |armor| %>
        <p class="store-item">
            <%= link_to new_character_character_armor_path(@char, armor_id: armor.id)  do %>

                <span class="integer">$ <%= armor.cost %> </span> :: <%= armor.name %>
                
            <% end %>                        
        </p>
    <% end %>

</section>

<section>

    <%= section_header("Attachments") %>

    <% @mods.each do |modification| %>
        <p class="store-item">
            <%= link_to new_character_character_modification_path(@char, modification_id: modification.id)  do %>

                <span class="integer">$ <%= modification.cost %> </span> :: <%= modification.name %>
                
            <% end %>                        
        </p>
    <% end %>

</section>

<section>

    <%= section_header("Gear") %>

    <% @equipment.each do |equipment| %>
        <p class="store-item">
            <%= link_to new_character_character_equipment_path(@char, equipment_id: equipment.id)  do %>

                <span class="integer">$ <%= equipment.cost %> </span> :: <%= equipment.name %>
                
            <% end %>                        
        </p>
    <% end %>

</section>

<section>

    <%= section_header("Weapons") %>

    <% @weapons.each do |weapon| %>
        <p class="store-item">
            <%= link_to new_character_character_weapon_path(@char, weapon_id: weapon.id)  do %>

                <span class="itneger">$ <%= weapon.cost %> </span> :: <%= weapon.name %>

            <% end %>                        
        </p>
    <% end %>

</section>