<div class="page-container">
    <section class="screen screen-left-lg">
        <%= translate("Weapons", "translate-center") %>
        <% @weapons.each do |weapon| %>
            <p><%= weapon.name %> :: <span class="sw"><%= weapon.cost %>$</span></p>
        <% end %>
    </section>
    <section class="screen screen-left-lg">
        <%= translate("Attachments", "translate-center") %>
    </section>
    <section class="screen screen-left-lg">
        <%= translate("Armor", "translate-center") %>
        <% @armor.each do |armor| %>
            <p><%= armor.name %> :: <span class="sw"><%= armor.cost %>$</span></p>
        <% end %>
    </section>
    <section class="screen screen-left-lg">
        <%= translate("Equipment", "translate-center") %>
        <% @equipment.each do |equip| %>
            <p><%= equip.name %> :: <span class="sw"><%= equip.cost %>$</span></p>
        <% end %>
    </section>
</div>