<div class="page-container">

    <section class="screen screen-vert green">

    </section>

    <article clss="store">
        
        <div class="store-section">

            <section class="screen screen-md red">
                
                <%= translate("Weapons", "translate-center") %>

                <% @weapons.each do |weapon| %>
                    <p class="store-item">
                        <%= link_to new_character_character_weapon_path(@character, weapon_id: weapon.id)  do %>

                            <span class="sw">$ <%= weapon.cost %> </span> :: <%= weapon.name %>

                        <% end %>                        
                    </p>
                <% end %>
                    
            </section>

            <section class="screen screen-md blue">

                <%= translate("Armor", "translate-center") %>

                <% @armor.each do |armor| %>
                    <p class="store-item">
                        <%= link_to new_character_character_armor_path(@character, armor_id: armor.id)  do %>

                            <span class="sw">$ <%= armor.cost %> </span> :: <%= armor.name %>
                            
                        <% end %>                        
                    </p>
                <% end %>
                
            </section>

        </div>

        <div class="store-section ">
            <section class="screen screen-md orange">

                <%= translate("Gear", "translate-center") %>

                <% @equipment.each do |equipment| %>
                    <p class="store-item">
                        <%= link_to new_character_character_equipment_path(@character, equipment_id: equipment.id)  do %>

                            <span class="sw">$ <%= equipment.cost %> </span> :: <%= equipment.name %>
                            
                        <% end %>                        
                    </p>
                <% end %>
                
            </section>

            <section class="screen screen-md yellow">

                <%= translate("Attachments", "translate-center") %>

                <% @mods.each do |modification| %>
                    <p class="store-item">
                        <%= link_to new_character_character_modification_path(@character, modification_id: modification.id)  do %>

                            <span class="sw">$ <%= modification.cost %> </span> :: <%= modification.name %>
                            
                        <% end %>                        
                    </p>
                <% end %>
                
            </section>
        </div>

    </article>
    
</div>