<section>
    
    <%= section_header("Menu") %>
    
    <div class="wrapper index-menu">

        <ul class="menu">

            <li class="link"><%= link_to "Home", root_path %></li>

        </ul>

        <div class="sidebar">

            <% num = rand(6) %>
            <%= image_tag("results/#{num}.png") %>

        </div>
    
    </div>
    

</section>

<section>

    <%= section_header("Armor") %>

    <div class="store-list">
        <% @armor.each do |armor| %>
            <p class="store-item">
                <%= link_to new_character_character_armor_path(@char, armor_id: armor.id)  do %>

                    <span class="integer">$ <%= armor.cost %> </span> :: <%= armor.name %>
                    
                <% end %>                        
            </p>
        <% end %>
    </div>

</section>

<section>

    <%= section_header("Attachments") %>

    <div class='store-list'>
        <% @mods.each do |modification| %>
            <p class="store-item">
                <%= link_to new_character_character_modification_path(@char, modification_id: modification.id)  do %>

                    <span class="integer">$ <%= modification.cost %> </span> :: <%= modification.name %>
                    
                <% end %>                        
            </p>
        <% end %>
    </div>

</section>

<section>

    <%= section_header("Gear") %>

    <div class="store-list">
        <% @equipment.each do |equipment| %>
            <p class="store-item">
                <%= link_to new_character_character_equipment_path(@char, equipment_id: equipment.id)  do %>

                    <span class="integer">$ <%= equipment.cost %> </span> :: <%= equipment.name %>
                    
                <% end %>                        
            </p>
        <% end %>
    </div>

</section>

<section>

    <%= section_header("Weapons") %>

    <div class='store-list'>
        <% @weapons.each do |weapon| %>
            <p class="store-item">
                <%= link_to new_character_character_weapon_path(@char, weapon_id: weapon.id)  do %>

                    <span class="integer">$ <%= weapon.cost %> </span> :: <%= weapon.name %>

                <% end %>                        
            </p>
        <% end %>
    </div>

</section>