<section>

    <%= render 'layouts/menu.html.erb' %>

</section>

<section>

    <%= section_header("Warm") %>

    <% @friend.each do |cont| %>
        <%= link_to contact_path(cont) do %>
            <%= translate(cont.character.name, "translate-sm") %>
        <% end %>
    <% end %>

</section>

<section class="screen screen-vert yellow">

    <%= section_header("Neutral") %>

    <% @neut.each do |cont| %>
        <%= link_to contact_path(cont) do %>
            <%= translate(cont.character.name, "translate-sm") %>
        <% end %>
    <% end %>

</section>

<section class="screen screen-vert red">

    <%= section_header("Cold") %>

    <% @enemy.each do |cont| %>
        <%= link_to contact_path(cont) do %>
            <%= translate(cont.character.name, "translate-sm") %>
        <% end %>
    <% end %>

</section>