<section>

    <%= render 'layouts/menu.html.erb' %>

</section>

<section>

    <%= section_header("Connections") %>

    <div class="characters">

        <div class="char-list">

            <% letter = "" %>

            <% @contacts.each do |contact| %>

                <% if contact.character.name[0] != letter %>

                    <% letter = contact.character.name[0] %>
                    <p class="sw segmentor"><%= letter %></p>

                <% end %>

                <p class="char-name"><%= link_to contact.character.name, contact_path(contact) %></p>

            <% end %>

        </div>

        <div class="char-new">

            <%= link_to new_contact_path do %>
                <div class="button success">+</div>
            <% end %>

        </div>

    </div>

</section>