<section>

    <%= section_header("Profile") %>

    <div class="basics">

        <div class="dataset">
            <p class='data-title'>Name</p>
            <p class='data'><%= @contact.character.name %></p>
        </div>

        <div class="dataset">
            <p class="data-title">Race</p>
            <p class="data"><%= @contact.character.race ? @contact.character.race : "Unknown" %></p>
        </div>

        <div class="dataset">
            <p class="data-title">Planet</p>
            <p class="data"><%= @contact.planet.name %></p>
        </div>

        <div class="dataset">
            <p class="data-title">Warmth</p>
            <p class="integer data"><%= @contact.warmth %></p>
        </div>

    </div>

</section>

<section>

    <%= section_header("Details") %>


    <div class="description">
        
        <div class="dataset">
            <p class="data-title">Last Known Location</p>
            <p><%= @contact.last_known_location %></p>
        </div>
        
    </div>

</section>