<div class="page-container">

    <section class="screen screen-vert blue character-menu">

        <div class="character-data">

            <%= translate("Basics", "translate-center") %>

            <%= translate(@contact.character.name, "translate-lg") %>

            <%= translate(@contact.character.race, "") %>

            <div class="contact-warmth">
                <%= translate("Warmth", "translate-sm") %>
                <p class="sw warmth"><%= @contact.warmth %></p>
            </div>

        </div>
        
        <div class="bottom">
            <p><%= link_to "Edit Contact", edit_contact_path(@contact) %></p>

            <p><%= link_to "Delete Contact", @contact, method: :delete, data: {confirm: "Are you sure you wish to delete this contact? This cannot be undone." } %></p>
        </div>

    </section>

    <% color = "red" %>
    <% if @contact.warmth > 1 %>
        <% color = "green" %>
    <% elsif @contact.warmth > -2 %>
        <% color = "yellow" %>
    <% end %>

    <article class="screen screen-lg <%= color %>">

        <%= translate(@contact.planet.name, "translate-lg translate-center") %>

        <p class="location-details">Last Known Location :: <%= @contact.last_known_location %></p>

        <%= translate("Notations", "translate-lg translate-center") %>
        <p class="notation"><%= @contact.details %></p>

    </article>

</div>