<section>

    <%= section_header("Menu") %>

    <div class="wrapper index-menu">

        <ul class="menu">

            <li class="link sw"><%= link_to "Home", root_path %></li>

            <li class="link sw"><%= link_to "Get Gear", store_path + "?character_id=#{@char.id}" %></li>

        </ul>

        <div class="sidebar">

            <% num = rand(6) %>
            <%= image_tag("results/#{num}.png") %>

        </div>
    
    </div>

</section>

<section>

    <%= section_header("Armor") %>

    <% @armor.each do |armor| %>
        <%= link_to character_character_armor_path(@char, armor) do %>
            <p class="sw"><%= armor.armor.name %></p>
        <% end %>
    <% end %>

</section>

<section>

    <%= section_header("Attachments") %>

    <% @mods.each do |mod| %>
        <%= link_to character_character_modification_path(@char, mod) do %>
            <p class="sw"><%= mod.modification.name %>
        <% end %>
    <% end %>

</section>

<section>

    <%= section_header("Gear") %>

    <% @gear.each do |gear| %>
        <%= link_to character_character_equipment_path(@char, gear) do %>
            <p class="sw"><%= gear.equipment.name %>
        <% end %>
    <% end %>

</section>

<section>

    <% section_header("Weapons") %>

    <% @weapons.each do |weapon| %>
        <%= link_to character_character_weapon_path(@char, weapon) do %>
            <%= weapon.weapon.name %>
        <% end %>
    <% end %>

</section>