<div class="page-container character-index-container">
    <section class="screen screen-vert blue character-menu">

        <div class="special-characters">
            <%= translate("Special Characters", "translate-center") %>
            <% @pc.each do |char| %>
                <%= link_to character_path(char) do %>
                    <%= translate(char.name, "translate-sm") %>
                <% end %>
            <% end %>
        </div>

        <div class="bottom">
            <%= link_to "New Character", new_character_path %>
        </div>

    </section>

    <article class="character-index-primary">

        <div class="character-index-section">
            <div class="screen screen-md green">
                <%= translate("Named NPCs", "translate-center") %>
                <% @named.each do |char| %>
                    <%= link_to character_path(char) do %>
                        <%= translate(char.name, "translate-sm") %>
                    <% end %>
                <% end %>
            </div>

            <div class="screen screen-md yellow">
                <%= translate("Adversaries", "translate-center") %>
                <% @adversaries.each do |char| %>
                    <%= link_to character_path(char) do %>
                        <%= translate(char.name, "translate-sm") %>
                    <% end %>
                <% end %>
            </div>
        </div>

        <div class="character-index-section">
            <div class="screen screen-md orange">
                <%= translate("Rivals", "translate-center")%>
                <% @rivals.each do |char| %>
                    <%= link_to character_path(char) do %>
                        <%= translate(char.name, "translate-sm") %>
                    <% end %>
                <% end %>

            </div>

            <div class="screen screen-md red">
                <%= translate("Minions", "translate-center")%>
                <% @minions.each do |char| %>
                    <%= link_to character_path(char) do %>
                        <%= translate(char.name, "translate-sm") %>
                    <% end %>
                <% end %>

            </div>
        </div>

    </article>

</div>