<div class="page-container character-index-container">
    <section class="screen screen-left-lg character-menu">

        <div class="special-characters">
            <%= translate("Special Characters", "translate-center") %>
            <% @pc.each do |char| %>
                <%= link_to character_path(char) do %>
                    <%= translate(char.name, "translate-sm") %>
                <% end %>
            <% end %>
        </div>

        <div class="bottom">
            <%= link_to "New Character", new_character_path %>
        </div>

    </section>

    <article class="character-index-primary">
        <div class="screen screen-md">
            <%= translate("Adversaries", "translate-center") %>
            <% @adversaries.each do |char| %>
                <%= link_to character_path(char) do %>
                    <%= translate(char.name, "translate-sm") %>
                <% end %>
            <% end %>
        </div>

        <div class="screen screen-md">
            <%= translate("Rivals", "translate-center") %>
        </div>

        <div class="screen screen-md">
            <%= translate("Minions", "translate-center")%>

        </div>

        <div class="screen screen-md">
            <%= translate("Minions", "translate-center")%>

        </div>

    </article>

</div>