<section>
    
    <%= section_header("Menu") %>
    
    <div class="wrapper index-menu">

        <ul class="menu">

            <li class="link"><%= link_to "Home", root_path %></li>

            <li class="link"><%= link_to "Update Character", edit_character_path(@char) %></li>

            <li class="link"><%= link_to "New Skill", new_character_skill_path(@char) %></li>

            <li class="link"><%= link_to "Get Gear", store_path + "?character_id=#{@char.id}" %></li>

        </ul>

        <div class="sidebar">

            <% num = rand(6) %>
            <%= image_tag("results/#{num}.png") %>

        </div>
    
    </div>
    

</section>

<section class="character-profile">

    <%= section_header("Profile") %>

    <div class="basics">

        <div class="dataset">
            <p class='data-title'>Name</p>
            <p class='data'><%= @char.name %></p>
        </div>

        <div class="dataset">
            <p class="data-title">Race</p>
            <p class="data"><%= @char.race ? @char.race : "Unknown" %></p>
        </div>

        <div class="dataset">
            <p class="data-title">Career</p>
            <p class="data"><%= @char.career && @char.career != '' ? @char.career : "Unknown" %></p>
        </div>

    </div>

</section>

<section class="character-attributes">

    <%= section_header("Attributes") %>

    <div class="attr">

        <div class="dataset">
            <p class="data-title">Soak</p>
            <p class="integer data"><%= @char.soak %></p>
        </div>

        <div class="dataset">
            <p class="data-title">Wound Threshold</p>
            <p class="integer data"><%= @char.wound_threshold %></p>
        </div>

        <div class="dataset">
            <p class="data-title">Strain Threshold</p>
            <p class="integer data"><%= @char.strain_threshold %></p>
        </div>

        <div class="dataset">
            <p class="data-title">Defense</p>
            <p class="data-subtitle">Ranged / Melee</p>
            <p class="integer data"><%= @char.defense_ranged %> / <%= @char.defense_melee %></p>
        </div>

    </div>

    <div class="attr">

        <div class="dataset">
            <p class="data-title">Brawn</p>
            <p class="integer data"><%= @char.brawn %></p>
        </div>

        <div class="dataset">
            <p class="data-title">Agility</p>
            <p class="integer data"><%= @char.agility %></p>
        </div>

        <div class="dataset">
            <p class="data-title">Intellect</p>
            <p class="integer data"><%= @char.intellect %></p>
        </div>

        <div class="dataset">
            <p class="data-title">Cunning</p>
            <p class="integer data"><%= @char.cunning %></p>
        </div>

        <div class="dataset">
            <p class="data-title">Willpower</p>
            <p class="integer data"><%= @char.willpower %></p>
        </div>

        <div class="dataset">
            <p class="data-title">Presence</p>
            <p class="integer data"><%= @char.presence %></p>
        </div>


    </div>

</section>

<section>

    <%= section_header("Quick Reference") %>

    <div class="skills-list">
        <div class="skills skills-general">
            <div class="category general">
                <p class='sw category-title'>General</p>
                <% @char.skills.each do |skill| %>

                        <% if skill.category == "General" %>
                            <div class="skill">
                                <p class="name"><%= skill.career ? "&#9865;".html_safe : '' %> <%= link_to skill.name, edit_character_skill_path(@char, skill) %></p>
                                <%= display_level(skill.level, true) %>
                            </div>
                        <% end %>

                <% end %>
            </div>
        </div>

        <div class="skills skills-other">
            <div class="category combat">
                <p class='sw category-title'>Combat</p>
                <% @char.skills.each do |skill| %>

                        <% if skill.category == "Combat" %>
                            <div class="skill">
                                <p class="name"><%= skill.career ? "&#9865;".html_safe : '' %> <%= link_to skill.name, edit_character_skill_path(@char, skill) %></p>
                                <%= display_level(skill.level, true) %>
                            </div>
                        <% end %>

                <% end %>
            </div>
            <div class="category knowledge">
                <p class='sw category-title'>Knowledge</p>
                <% @char.skills.each do |skill| %>

                        <% if skill.category == "Knowledge" %>
                            <div class="skill">
                                <p class="name"><%= skill.career ? "&#9865;".html_safe : '' %> <%= link_to skill.name, edit_character_skill_path(@char, skill) %></p>
                                <%= display_level(skill.level, true) %>
                            </div>
                        <% end %>

                <% end %>
            </div>
        </div>
    </div>

</section>

<section>

    <%= section_header("Talents") %>

</section>

<section>

    <%= section_header("Stats") %>

</section>