<section>

  <%= section_header("Chain Code") %>
  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <% if resource.errors.any? %>
        <div class="form-category">
          <%= render "devise/shared/error_messages", resource: resource %>
        </div>
      <% end %>

      <div class="form-category">

        <div class="form-field">
          <%= f.email_field :email, autofocus: true, class: "form-input text" %>
          <p class="form-label">Email</p>
        </div>

        <div class="form-field">
          <%= f.password_field :password, class: "form-input text" %>
          <p class="form-label">Password</p>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="form-field">
            <div class="checkbox">
              <%= f.check_box :remember_me,  class: "boolean"%>
              <p class="form-label">Stay Logged In?</p>
            </div>
          </div>
        <% end %>

      </div>

      <div class="form-category">
        <%= f.submit "Submit", class: "button form-button success" %>
      </div>

    <% end %>

</section>