<div class="page-container">

  <article class="screen screen-lg yellow">

    <%= translate("Chain Code", "translate-lg translate-center") %>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="form-category">
        <%= render "devise/shared/error_messages", resource: resource %>
      </div>

      <div class="form-category">

        <div class="form-field">
          <p class="form-label">Email ::</p>
          <%= f.email_field :email, class: "form-input text" %>
        </div>

        <div class="form-field">
          <p class="form-label">Password ::</p>
          <%= f.password_field :password, class: "form-input text" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="form-field">
            <p class="form-label">Stay Logged In? ::</p>
            <div class="form-input">
              <%= f.check_box :remember_me,  class: "boolan"%>
            </div>
          </div>
        <% end %>

      </div>

      <div class="form-category">
        <%= f.submit "Submit", class: "button form-button" %>
      </div>
    <% end %>

  </article>

</div>