<section>

    <%= render 'layouts/menu.html.erb' %>

</section>

<section>

    <%= section_header("Speeders") %>

    <div class="characters">

        <div class="char-list">

            <% letter = "" %>

            <% @speeders.each do |vehicle| %>

                <% if vehicle.name[0] != letter %>

                    <% letter = vehicle.name[0] %>
                    <p class="sw segmentor"><%= letter %></p>

                <% end %>

                <p class="char-name"><%= link_to vehicle.name, vehicle_path(vehicle) %></p>

            <% end %>

        </div>

        <div class="char-new">

            <%= link_to new_vehicle_path do %>
                <div class="button success">+</div>
            <% end %>

        </div>

    </div>

</section>

<section>

    <%= section_header("Ground Vehicles") %>

    <div class="characters">

        <div class="char-list">

            <% letter = "" %>

            <% @ground.each do |vehicle| %>

                <% if vehicle.name[0] != letter %>

                    <% letter = vehicle.name[0] %>
                    <p class="sw segmentor"><%= letter %></p>

                <% end %>

                <p class="char-name"><%= link_to vehicle.name, vehicle_path(vehicle) %></p>

            <% end %>

        </div>

        <div class="char-new">

            <%= link_to new_vehicle_path do %>
                <div class="button success">+</div>
            <% end %>

        </div>

    </div>

</section>

<section>

    <%= section_header("Fighters") %>

    <div class="characters">

        <div class="char-list">

            <% letter = "" %>

            <% @fighters.each do |vehicle| %>

                <% if vehicle.name[0] != letter %>

                    <% letter = vehicle.name[0] %>
                    <p class="sw segmentor"><%= letter %></p>

                <% end %>

                <p class="char-name"><%= link_to vehicle.name, vehicle_path(vehicle) %></p>

            <% end %>

        </div>

        <div class="char-new">

            <%= link_to new_vehicle_path do %>
                <div class="button success">+</div>
            <% end %>

        </div>

    </div>

</section>

<section>

    <%= section_header("Freighters") %>

    <div class="characters">

        <div class="char-list">

            <% letter = "" %>

            <% @freighters.each do |vehicle| %>

                <% if vehicle.name[0] != letter %>

                    <% letter = vehicle.name[0] %>
                    <p class="sw segmentor"><%= letter %></p>

                <% end %>

                <p class="char-name"><%= link_to vehicle.name, vehicle_path(vehicle) %></p>

            <% end %>

        </div>

        <div class="char-new">

            <%= link_to new_vehicle_path do %>
                <div class="button success">+</div>
            <% end %>

        </div>

    </div>

</section>

<section>

    <%= section_header("Capital Ships") %>

    <div class="characters">

        <div class="char-list">

            <% letter = "" %>

            <% @capitals.each do |vehicle| %>

                <% if vehicle.name[0] != letter %>

                    <% letter = vehicle.name[0] %>
                    <p class="sw segmentor"><%= letter %></p>

                <% end %>

                <p class="char-name"><%= link_to vehicle.name, vehicle_path(vehicle) %></p>

            <% end %>

        </div>

        <div class="char-new">

            <%= link_to new_vehicle_path do %>
                <div class="button success">+</div>
            <% end %>

        </div>

    </div>

</section>