<div class="page-container vehicle-index-container">

    <div class="vehicle-section">

        <section class="screen screen-sm blue">
            <% iron_shadow = Vehicle.find_by(name: "Iron Shadow") %>
            <%= translate("Your Vehicles", "translate-center") %>
            <%= link_to vehicle_path(iron_shadow) do %>
                <%= translate(iron_shadow.name, 'translate-sm') %>
            <% end %>

        </section>
        
        <section class="screen screen-sm orange">

            <%= translate("Airspeeders", "translate-center") %>

            <% @airspeeders.each do |ship| %>
                <%= link_to vehicle_path(ship) do %>
                    <%= translate(ship.model, "translate-sm") %>
                <% end %>
            <% end %>

        </section>

        <section class="screen screen-sm yellow">

            <%= translate("Landspeeders", "translate-center") %>

            <% @landspeeders.each do |ship| %>
                <%= link_to vehicle_path(ship) do %>
                    <%= translate(ship.model, "translate-sm") %>
                <% end %>
            <% end %>

        </section>

        <section class="screen screen-sm green">

            <%= translate("Wheeled and Tracked Vehicles", "translate-center") %>

            <% @wheeled.each do |ship| %>
                <%= link_to vehicle_path(ship) do %>
                    <%= translate(ship.model, "translate-sm") %>
                <% end %>
            <% end %>

        </section>

    </div>

    <div class="vehicle-section">
    
        <section class="screen screen-sm yellow">
        
            <%= translate("Walkers", "translate-center") %>

            <% @walkers.each do |ship| %>
                <%= link_to vehicle_path(ship) do %>
                    <%= translate(ship.model, "translate-sm") %>
                <% end %>
            <% end %>

        </section>
        
        <section class="screen screen-sm green">

            <%= translate("Starfighters and Patrol Boats", "translate-center") %>

            <% @fighters.each do |ship| %>
                <%= link_to vehicle_path(ship) do %>
                    <%= translate(ship.model, "translate-sm") %>
                <% end %>
            <% end %>

        </section>

        <section class="screen screen-sm orange">

            <%= translate("Freighters and Transports", "translate-center") %>

            <% @freighters.each do |ship| %>
                <%= link_to vehicle_path(ship) do %>
                    <%= translate(ship.model, "translate-sm") %>
                <% end %>
            <% end %>

        </section>

        <section class="screen screen-sm red">

            <%= translate("Capital Ships", "translate-center") %>

            <% @capitals.each do |ship| %>
                <%= link_to vehicle_path(ship) do %>
                    <%= translate(ship.model, "translate-sm") %>
                <% end %>
            <% end %>
        </section>

    </div>

    <section class="screen screen-bottom screen-bottom-sm blue vehicle-index-menu">
        <%= translate("Menu", "translate-lg translate-center") %>
        <div class="planet-menu-links">
            <%= link_to "New Vehicle", new_vehicle_path %>
        </div>
    </section>
</div>