<div class="page-container vehicle-show-container">

    <section class="screen screen-vert blue vehicle-menu">
        <div class="vehicle-data">
            <%= translate("Basics", "translate-center") %>

            <%= translate(@ship.name, "translate-lg") %>
            <%= translate(@ship.model, "translate-sm") %>
            <%= translate(@ship.hull_type, "translate-sm") %>
            <%= translate(@ship.manufacturer, "translate-sm") %>
        </div>
        
        <div class="bottom">
            <p><%= link_to "Edit Vehicle", edit_vehicle_path(@ship) %></p>

            <p><%= link_to "Delete Vehicle", @ship, method: :delete, data: {confirm: "Are you sure you wish to delete this vehicle? This cannot be undone." } %></p>
        </div>

    </section>

    <article class="screen screen-lg orange vehicle-attributes">
        <%= translate("Vehicle Attributes", "translate-lg translate-center") %>

        <section class="vehicle-stats">

            <div class="general-data">
                <%= translate("Complement", "translate-center") %>
                <div class="data"><%= parse_complement(@ship) %></div>
            </div>

            <div class="general-data">
                <%= translate("Cost", "translate-center") %>
                <div class="sw data"><%= @ship.cost %></div>
            </div>

            <div class="general-data">
                <%= translate("Rarity", "translate-center") %>
                <div class="sw data"><%= @ship.rarity %></div>
            </div>

        </section>

        <section class="vehicle-stats">

            <div class="general-data">
                <%= translate("Hyperdrive", "translate-center") %>
                <div class="data"><%= parse_hyperdrive(@ship) %></div>
            </div>

            <div class="general-data">
                <%= translate("Sensor Range", "translate-center") %>
                <div class="data"><%= @ship.sensor_range.upcase %></div>
            </div>

            <div class="general-data">
                <%= translate("Navicomputer", "translate-center") %>
                <div class="data"><%= @ship.navicomputer.to_s.upcase %></div>
            </div>

        </section>

        <section class="vehicle-stats">

            <div class="general-data">
                <%= translate("Passengers", "translate-center") %>
                <div class="sw data"><%= @ship.passenger_capacity %></div>
            </div>

            <div class="general-data">
                <%= translate("Capacity", "translate-center") %>
                <div class="sw data"><%= @ship.capacity %></div>
            </div>

            <div class="general-data">
                <%= translate("Hard Points", "translate-center") %>
                <div class="sw data"><%= @ship.hard_points %></div>
            </div>

        </section>

        <section class="vehicle-stats">

            <div class="general-data">
                <%= translate("Armor", "translate-center") %>
                <div class="sw data"><%= @ship.armor %></div>
            </div>

            <div class="general-data">
                <%= translate("Hull Trauma", "translate-center") %>
                <div class="sw data"><%= @ship.hull_trauma_threshold %></div>
            </div>

            <div class="general-data">
                <%= translate("System Strain", "translate-center") %>
                <div class="sw data"><%= @ship.system_strain_threshold %></div>
            </div>

            <div class="general-data">
                <%= translate("Defense", "translate-center") %>
                <div class="sw data"><%= @ship.defense_fore %> / <%= @ship.defense_port %> / <%= @ship.defense_starboard %> / <%= @ship.defense_aft %></div>
            </div>

        </section>

    </article>

</div>