<section>

    <%= section_header("Basics") %>

    <% if @ship.restricted %>
        <p class="sw text danger">Restricted</p>
    <% end %>

    <div class="basics">

        <% if @ship.name && @ship.name != '' && @ship.name != @ship.model %>
            <div class="dataset">
                <p class='data-title'>Name</p>
                <p class='data'><%= @ship.name %></p>
            </div>
        <% end %>
        
        <div class="dataset">
            <p class="data-title">Model</p>
            <p class='data'><%= @ship.model %></p>
        </div>

        <div class="dataset">
            <p class="data-title">Hull Type</p>
            <p class="data"><%= @ship.hull_type %></p>
        </div>

        <div class="dataset">
            <p class="data-title">Manufacturer</p>
            <p class="data"><%= @ship.manufacturer %></p>
        </div>

    </div>

    <div class="basics">
        
        <div class="dataset">
            <p class="data-title">Cost</p>
            <p class='integer data'>$ <%= number_with_delimiter(@ship.cost) %></p>
        </div>

        <div class="dataset">
            <p class="data-title">Rarity</p>
            <p class="integer data"><%= @ship.rarity %></p>
        </div>

    </div>

</section>

<section>

    <%= section_header("Hardware") %>

    <div class="attr">

        <div class="dataset">
            <p class='data-title'>Hyperdrive</p>
            <p class='data integer'><%= parse_hyperdrive(@ship) %></p>
        </div>
        
        <div class="dataset">
            <p class="data-title">Navicomputer</p>
            <p class='data'><%= @ship.navicomputer %></p>
        </div>

        <div class="dataset">
            <p class="data-title">Sensor Range</p>
            <p class="data"><%= @ship.sensor_range %></p>
        </div>

    </div>

</section>

<section>

    <%= section_header("Capacities") %>

    <div class="attr">

        <div class="dataset">
            <p class='data-title'>Complement</p>
            <p class='data integer'><%= parse_complement(@ship) %></p>
        </div>
        
        <div class="dataset">
            <p class="data-title">Passengers</p>
            <p class='integer data'><%= @ship.passenger_capacity %></p>
        </div>

        <div class="dataset">
            <p class="data-title">Encumbrance Capacity</p>
            <p class="integer data"><%= @ship.capacity %></p>
        </div>

        <div class="dataset">
            <p class="data-title">Hard Points</p>
            <p class="integer data"><%= @ship.hard_points %></p>
        </div>

    </div>

</section>


<section>

    <%= section_header("Flight Details") %>

    <div class="attr">

        <div class="dataset">
            <p class='data-title'>Silhouette</p>
            <p class='data integer'><%= @ship.silhouette %></p>
        </div>
        
        <div class="dataset">
            <p class="data-title">Speed</p>
            <p class='integer data'><%= @ship.speed %></p>
        </div>

        <div class="dataset">
            <p class="data-title">Handling</p>
            <p class="integer data"><%= @ship.handling > 0 ? "+" : '' %><%= @ship.handling %></p>
        </div>

    </div>

</section>

<section>

    <%= section_header("Defensive Capabilities") %>

    <div class="attr">

        <div class="dataset">
            <p class='data-title'>Armor</p>
            <p class='data integer'><%= @ship.armor %></p>
        </div>
        
        <div class="dataset">
            <p class="data-title">Hull Trauma</p>
            <p class='integer data'><%= @ship.hull_trauma_threshold %></p>
        </div>

        <div class="dataset">
            <p class="data-title">System Strain</p>
            <p class="integer data"><%= @ship.system_strain_threshold %></p>
        </div>

        <div class="dataset">
            <p class="data-title">Defense</p>
            <div class="defense">
                <div class="def">
                    <p>Fore</p>
                    <p class="integer"><%= (@ship.defense_fore && @ship.defense_fore > 0 && @ship.defense_fore != '') ? @ship.defense_fore : '-' %></p>
                </div>
                <div class="def">
                    <p>Port</p>
                    <p class="integer"><%= (@ship.defense_port && @ship.defense_port > 0 && @ship.defense_port != '') ? @ship.defense_port : '-' %></p>
                </div>
                <div class="def">
                    <p>Starboard</p>
                    <p class="integer"><%= (@ship.defense_starboard && @ship.defense_starboard > 0 && @ship.defense_starboard != '') ? @ship.defense_starboard : '-' %></p>
                </div>
                <div class="def">
                    <p>Aft</p>
                    <p class="integer"><%= (@ship.defense_aft && @ship.defense_aft > 0 && @ship.defense_aft != '') ? @ship.defense_aft : '-' %></p>
                </div>
            </div>
        </div>

    </div>

</section>