<section class='form-section'>

    <%= section_header("Update Armor") %>

    <%= form_for @armor do |f| %>

        <div class="form-category">

            <div class="form-field">
                <%= f.text_field :name, class: "form-input text", autofocus: true %>
                <p class="form-label">Name</p>
            </div>


            <div class="form-field">
                <div class="checkbox">
                <%= f.check_box :restricted,  class: "boolean"%>
                <p class="form-label">Restricted</p>
                </div>
            </div>

            <div class="form-field">
                <%= f.text_field :defense, class: "form-input integer" %>
                <p class="form-label">Defense</p>
            </div>

            <div class="form-field">
                <%= f.text_field :soak, class: "form-input integer" %>
                <p class="form-label">Soak</p>
            </div>

            <div class="form-field">
                <%= f.text_field :encumbrance, class: "form-input integer" %>
                <p class="form-label">Encumbrance</p>
            </div>

            <div class="form-field">
                <%= f.text_field :hard_points, class: "form-input integer" %>
                <p class="form-label">Hard Points</p>
            </div>

            <div class="form-field">
                <%= f.text_field :cost, class: "form-input integer" %>
                <p class="form-label">Cost</p>
            </div>

            <div class="form-field">
                <%= f.text_field :rarity, class: "form-input integer" %>
                <p class="form-label">Rarity</p>
            </div>

            <div class="form-field form-field-long">
                <%= f.text_area :description, class: "form-input long-text" %>
                <p class="form-label">Description</p>
            </div>

            <div class="form-field form-field-long">
                <%= f.text_area :brands, class: "form-input long-text" %>
                <p class="form-label">Brands</p>
            </div>

            <div class="form-field">
                <%= f.text_field :sourcebook, class: "form-input text" %>
                <p class="form-label">Sourcebook</p>
            </div>

        </div>

        <div class="form-category">
            <%= f.submit "Submit", class: "sw button form-button success" %>
        </div>

        <%= link_to @armor, method: :delete do %>
            <div class="button danger sw">Delete Armor</div>
        <% end %>

    <% end %>

</section>