<div class="page-container character-show-container">
    
    <section class="screen screen-vert green character-menu">
        <div class="character-data">
            <%= translate("Basics", "translate-center") %>

            <% if @armor.restricted %>
                <%= translate("Restriced", "translate-center danger")%>
            <% end %>

            <%= translate(@armor.name, "translate") %>

            <div class="gear-rarity">
                <%= translate("Rarity", "translate-sm") %>
                <p class="sw"><%= @armor.rarity %></p>
            </div>

            <p class='sw gear-cost'>$ <%= @armor.cost %></p>
        </div>
        
        <div class="bottom">
            <p><%= link_to "Edit Armor", edit_armor_path(@armor) %></p>

            <p><%= link_to "Delete Armor", @armor, method: :delete, data: {confirm: "Are you sure you wish to delete this armor? This cannot be undone." } %></p>
        </div>

    </section>

    <article class="screen screen-lg orange">

        <section class="weapon-attributes">

            <%= translate("Attributes", "translate-center translate-lg") %>

            <div class="attribute-container">

                <div class="general-data">
                    <%= translate("Damage", "data-type translate-center") %>
                    <p class="sw data"><%= @armor.defense %></p>
                </div>

                <div class="general-data">
                    <%= translate("Crit", "data-type translate-center") %>
                    <p class="sw data"><%= @armor.soak %></p>
                </div>

            </div>

            <div class="attribute-container">

                <div class="general-data">
                    <%= translate("Encumbrance", "translate-center translate-sm brawn") %>
                    <p class="sw data"><%= @armor.encumbrance %></p>
                </div>

                <div class="general-data">
                    <%= translate("Hard Points", "translate-center translate-sm agility") %>
                    <p class="sw data"><%= @armor.hard_points %></p>
                </div>

            </div>

        </section>

    </article>

    <section class="screen screen-vert blue">

        <%= translate("Description", "translate-center") %>

        <%= @armor.description %>

    </section>

</div>