<section class='form-section'>

    <%= section_header ("Update #{@armor.name} for #{@char.name}") %>

    <%= form_for [@char, @charm] do |f| %>

        <div class="form-category">

            <%= f.hidden_field :character_id, value: @char.id %>

            <%= f.hidden_field :armor_id, value: @armor.id %>

            <div class="form-field">
                <p class="form-input"><%= @armor.name %></p>
                <p class="form-label">Armor</p>
            </div>

            <% if @armor.brands %>
                <div class="form-field">
                    <%= f.select(:brand, ['Brand 1, Brand2'], {prompt: ''}, {class: "form-input select"}) %>
                    <p class="form-label">Brand</p>
                </div>
            <% end %>

            <div class="form-field">
                <%= f.text_field :quantity, class: "form-input integer" %>
                <p class="form-label">Quantity</p>
            </div>

        </div>
        
        <div class="form-category">
            <%= f.submit "Submit", class: "button form-button success" %>
        </div>

    <% end %>

</section>