<section>
    
    <%= section_header("Menu") %>
    
    <div class="wrapper index-menu">

        <ul class="menu">

            <li class="link"><%= link_to "Home", root_path %></li>

            <li class="link"><%= link_to "#{@char.name}'s Armory", character_gear_path(@char) %></li>

            <li class="link"><%= link_to "Update Armor", edit_character_character_armor_path(@char, @charm) %></li>


        </ul>

        <div class="sidebar">

            <% num = rand(6) %>
            <%= image_tag("results/#{num}.png") %>

        </div>
    
    </div>
    

</section>

<section>

    <%= section_header("Armor Basics") %>

    <% if @armor.restricted %>
        <p class="sw text danger">Restricted</p>
    <% end %>

    <div class="basics">

        <div class="dataset">
            <p class='data-title'>Name</p>
            <p class='data'><%= @armor.name %></p>
        </div>

        <div class="dataset">
            <p class="data-title">Rarity</p>
            <p class="integer data"><%= @armor.rarity %></p>
        </div>

        <div class="dataset">
            <p class="data-title">Cost</p>
            <p class="integer data"><%= @armor.cost %></p>
        </div>

    </div>

</section>

<section>

    <%= section_header("Armor Details") %>

    <div class="attr">

        <div class="dataset">
            <p class="data-title">Soak</p>
            <p class="integer data"><%= @armor.soak %></p>
        </div>

        <div class="dataset">
            <p class="data-title">Defense</p>
            <p class="integer data"><%= @armor.defense %></p>
        </div>

        <div class="dataset">
            <p class="data-title">Encumbrance</p>
            <p class="integer data"><%= @armor.encumbrance %></p>
        </div>

        <div class="dataset">
            <p class="data-title">Hard Points</p>
            <p class="integer data"><%= @armor.hard_points %></p>
        </div>

    </div>

</section>


<section>

    <%= section_header("Armor Description") %>

    <div class="description">
        <div class="dataset">
            <p class="data"><%= @armor.description %></p>
        </div>
    </div>

</section>

<section>

    <%= section_header("Armor Brands") %>

    <div class="description">
        <div class="dataset">
            <p class="data"><%= @charm.brand %></p>
        </div>
    </div>

</section>