<header class="header">
    <div class="header-left">
        <p class="integer user-credits">$ <%= number_with_delimiter(@user.credits, delimiter: ',') %></p>
    </div>


    <div class="header-center">
        <%= image_tag("sw-logo.png", class: "header-image header-logo") %>
    </div>


    <div class="header-right">
        <% if user_signed_in? %>
            <%= link_to edit_user_registration_path(@user) do %>
                <%= translate(@user.username, "translate-lg translate-right") %>
            <% end %>
        <% end %>
    </div>
</header>


<nav class="header-nav">
    <%= link_to root_path do %>
        <%= translate("Home", "translate-sm translate-right nav-item") %>
    <% end %>
    <%= link_to characters_path do %>
        <%= translate("Characters", "translate-sm translate-right nav-item") %>
    <% end %>
    <%= link_to planets_path do %>
        <%= translate("Planets", "translate-sm translate-right nav-item") %>
    <% end %>
    <%= link_to vehicles_path do %>
        <%= translate("Vehicles", "translate-sm translate-right nav-item") %>
    <% end %>
    <%= link_to gear_path do %>
        <%= translate("Gear", "translate-sm translate-right nav-item") %>
    <% end %>
    <%= link_to contacts_path do  %>
        <%= translate("Contacts", 'translate-sm translate-right nav-item')%>
    <% end %>  
    <%= link_to store_path do %>
        <%= translate("Store", "translate-sm translate-right nav-item") %>
    <% end %>
</nav>