<header class="header">
    <div class="header-left"></div>


    <div class="header-center">
        <%= image_tag("sw-logo.png", class: "header-image header-logo") %>
    </div>


    <div class="header-right">
        <% if user_signed_in? %>
            <%= link_to character_path(@character) do %>
                <%= translate(@user.username, "translate-lg translate-right") %>
            <% end %>
        <% end %>
    </div>
</header>


<nav class="header-nav">
    <%= link_to root_path do %>
        <%= translate("Home", "translate-sm translate-right nav-item") %>
    <% end %>
    <%= link_to characters_path do %>
        <%= translate("Characters", "translate-sm translate-right nav-item") %>
    <% end %>
    <%= link_to root_path do %>
        <%= translate("Stats", "translate-sm translate-right nav-item") %>
    <% end %>
    
    <%= link_to root_path do %>
        <%= translate("Store", "translate-sm translate-right nav-item") %>
    <% end %>
</nav>