<li class="link">
    <%= link_to translate("Home", ''), root_url %>
</li>

<li>
    <%= link_to translate("Armory", ''), gear_path %>
</li>

<li>
    <%= link_to translate("Markets", ''), store_path %>
</li>

<li>
    <%= link_to translate("Navigation", ''), planets_path %>
</li>

<li>
    <%= link_to translate("Profiles", ''), characters_path %>
</li>

<li>
    <%= link_to translate("Vehicles", ''), vehicles_path %>
</li>
