<li class="link">
    <%= link_to "Home", root_url %>
</li>

<li class="link">
    <%= link_to "Armory", gear_path %>
</li>

<li class="link">
    <%= link_to "Astrogation", planets_path %>
</li>

<li class="link">
    <%= link_to "Connections", contacts_path %>
</li>

<li class="link">
    <%= link_to "Markets", store_path + "?character_id=#{@character.id}" %>
</li>

<li class="link">
    <%= link_to "Profiles", characters_path %>
</li>

<li class="link">
    <%= link_to "Vehicles", vehicles_path %>
</li>
