<li class="link sw">
    <%= link_to "Home", root_url %>
</li>

<li class="link sw">
    <%= link_to "Armory", gear_path %>
</li>

<li class="link sw">
    <%= link_to "Markets", store_path %>
</li>

<li class="link sw">
    <%= link_to "Navigation", planets_path %>
</li>

<li class="link sw">
    <%= link_to "Profiles", characters_path %>
</li>

<li class="link sw">
    <%= link_to "Vehicles", vehicles_path %>
</li>
