<!DOCTYPE html>
<html>
  <head>
    <title>Iron Shadow | EOTE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
  </head>

  <body>

    <div class="datapad">

      <%= render 'layouts/datapad_header.html.erb' %>

      <%= yield %>

    </div>

  </body>

</html>
