<!DOCTYPE html>
<html>
  <head>
    <title>Iron Shadow | EOTE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('results/5.png') %>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">

    <%= javascript_pack_tag 'forms' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">

    <div class="datapad">

      <%= render 'layouts/menu.html.erb'%>

      <%= render 'layouts/datapad_header.html.erb' %>

      <%= yield %>

    </div>

  </body>

</html>
